# =========================

# Python

# =========================

**pycache**/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments

.venv/
venv/

# =========================

# Environment variables

# =========================

.env

# =========================

# Logs

# =========================

*.log
logs/

# =========================

# Vector DB (FAISS)

# =========================

data/faiss_index/
*.faiss
*.pkl
# =========================

# Data

# =========================
data/ingestion_checkpoint.json